{%extends "base.html" %} {% block title %}Home {% endblock title %} {%block
body%}
<div class="container my-3">
  <div class="mb-3">
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title*</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          aria-describedby="titleHelp"
        />
        <div id="titleHelp" class="form-text">Add Todo title.</div>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" name="desc" class="form-control" id="desc" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container my-3">
    {%if alltodos | length==0%}
    <p>No todos yet. Start adding some!</p>
    {%else%}
    <p>Your Todos</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in alltodos %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{todo.title}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.created_at}}</td>
          <td>
            <a
              href="/update/{{todo.id}}"
              type="button"
              class="btn btn-outline-success"
              >Update</a
            >
            <a
              href="/delete/{{todo.id}}"
              type="button"
              class="btn btn-outline-danger"
              >Delete</a
            >
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    {%endif%}
  </div>
</div>
{% endblock body %}
